---
import CorpHeadCard from "../components/CorpHeadCard.astro";
import Footer from "../components/Footer.astro";
import SearchBar from "../components/SearchBar.astro";
import Main from "../layouts/Main.astro";
import CorpBuild from "../components/CorpBuild.astro";
import Data from "../data/Data.json";
import NavBar from "../components/NavBar.astro";

import { Icon } from "astro-icon/components";

const departments = Data.loctype.corporate.locations[0].departments;
---

<!-- // Render the main layout, setting the title for the page -->
<Main title="Corporate">
  <!-- // Outermost container for the content -->
  <div class="flex flex-col h-screen">
    <!-- Section for the corporate header card -->
    <section class="">
      <!-- {/* Render the corporate header card with relevant information */} -->
      <CorpHeadCard
        headCard={[
          {
            title: "Corporate", // Title of the card
            subtitle1: "Corp. Phone",
            address: "1500 Hamilton Rd,", // Address line
            city: "Bossier City,", // City
            state: "LA", // State
            zip: "71111", // ZIP code
            subtitle2: "Corp. Email",
            phone: "(888) 245-3696", // Phone number
            email: "info@mcelroymetal.com", // Email address
            subtitle3: "IT Help Desk", // Third subtitle
            phone2: "(866) 634-5111", // Second phone number
          },
        ]}
      />
    </section>
    <!-- Visual divider between sections -->
    <div class="divide divide-none divide-y-2 py-0"></div>
    <!-- Section for displaying corporate departments and employees -->
    <section
      class="flex-grow bg-neutral pb-0 pt-0 no-scrollbar overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px "
    >
      <section class="shadow-sm drop-shadow-sm">
        <NavBar />
      </section>
      <div
        class="box-decoration-clone ps-2 py-1 pe-2 border-4 border-transparent overflow-y-auto no-scrollbar"
      >
        <!-- {/* Render the corporate expanded panel with department and employee data */} -->
        <CorpBuild Department={departments} />
      </div>
    </section>
    <div class="divide divide-none divide-y-2 py-0"></div>
    <!-- Section for the page footer -->
    <section class="box-border pb-3 mt-0">
      <!-- {/* Render the footer with navigation links */} -->
      <Footer
        bottomNav={[
          { icon: "home", label: "Home", to: "/" },
          // { icon: "corporate", label: "Corporate", to: "/corporate" },
          { icon: "store", label: "Metal Mart", to: "/metalmart" },
          {
            icon: "service_center",
            label: "Service Center",
            to: "/servicecenter",
          },
          { icon: "plant", label: "Plant", to: "/plant" },
        ]}
      />
    </section>
  </div>
</Main>

<style></style>
