---
// Import necessary components
import MainPageMenu from "../components/MainPageMenu.astro"; // Importing MainPageMenu component
import Main from "../layouts/Main.astro"; // Importing Main layout
import Footer from "../components/Footer.astro"; // Importing Footer component
import CorpHeadCard from "../components/CorpHeadCard.astro"; // Importing CorpHeadCard component
import SearchBar from "../components/SearchBar.astro";

---

<!-- // Render the main layout, setting the title for the page -->
<Main title="Employee Directory">
  <!-- // Outermost container for the content -->
  <div class="w-full h-full card card-compact">
    <section class="h-2/6 shadow-sm">
      <!-- {/* Render the corporate header card with relevant information */} -->
      <CorpHeadCard
        headCard={[
          {
            title: " Employee Directory ",
            subtitle1: "Corp. Phone",
            address: "555 Generic Road,",
            city: "Central City",
            state: "WS",
            zip: "77777",
            subtitle2: "Corp. Email",
            phone: "(888) 555-5555",
            email: "info@info.com",
            subtitle3: "IT Help Desk",
            phone2: "(866) 555-5555",
          },
        ]}
      />
    </section>

    <!-- Visual divider between sections -->
    <div class="divider -mt-2 -mb-1 divide-slate-100"></div>

    <!-- Section for the main page menu -->
    <section
      class="h-5/6 flex-auto resize-none no-scrollbar overflow-y-scroll overscroll-contain scroll-auto"
      
    >
    <div class="ps-1 py-1 pe-2">
      <SearchBar />
      <!-- <SearchWidget /> -->
    </div>
      <div
        class="h-full ps-2 py-1 pe-4 pt-2 border-4 border-transparent no-scrollbar flex-auto scroll-auto overscroll-contain overflow-y-auto"
      >
        <!-- <div id="search" transition:persist></div> -->
        <!-- Render the MainPageMenu component with location options -->
        <MainPageMenu
          loctypes={[
            // Each object represents a menu item with properties like location, path, description, and icon
            {
              location: "CORPORATE",
              to: "/corporate",
              desc: "corp-btn btn btn-block box-decoration-clone border-none shadow-transparent",
              icon: "corporate",
            },
            {
              location: "MEGA MART",
              to: "/megamart",
              desc: "mm-btn btn btn-block box-decoration-clone border-none shadow-transparent",
              icon: "store_1",
            },
            {
              location: "SERVICE CENTER",
              to: "/servicecenter",
              desc: "sc-btn btn btn-block box-decoration-clone border-none shadow-transparent",
              icon: "service_center_1",
            },
            {
              location: "PLANT",
              to: "/plant",
              desc: "plant-btn btn btn-block box-decoration-clone border-none shadow-transparent",
              icon: "plant",
            },
          ]}
        />
      </div>
    </section>

    <!-- Section for the page footer -->
    <div class="divider shadow-sm -mt-1 -mb-1"></div>
    <section class="box-border h-1/5 mt-2">
      <!-- <SearchBar /> -->
      <!-- Render the Footer component with navigation links -->
      <Footer
        bottomNav={[
          // Navigation items for the footer with icons and labels
          { icon: "corporate", label: "Corporate", to: "/corporate" },
          { icon: "store_1", label: "Mega Mart", to: "/megamart" },
          {
            icon: "service_center_1",
            label: "Service Center",
            to: "/servicecenter",
          },
          { icon: "plant", label: "Plant", to: "/plant" },
        ]}
      />
    </section>
  </div>
</Main>

<style>
  .card {
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
</style>


