---
import Footer from "../components/Footer.astro";
import Main from "../layouts/Main.astro";
import MMBuild from "../components/MMBuild.astro";
import Data from "../data/Data.json"; // Importing data from a JSON file
import NavBar from "../components/NavBar.astro";
import RetailHeadCard from "../components/RetailHeadCard.astro";
---

<!-- // Render the main layout, setting the title for the page -->
<Main title="Metal Mart">
  <!-- // Outermost container for the content -->
  <div class="flex flex-col h-screen">
    <!-- Section for the Metal Mart header card -->
    <section class="">
      <!-- Render the StoreHeadCard component with provided properties -->
      <RetailHeadCard
        storeHeadCard={[
          {
            title: "Metal Marts",
            subtitle1: "Northeast Area",
            subtitle2: "Central Area ",
            phone: "David Boyte",
            subtitle3: "South Central Area",
            phone2: "John Baker",
            phone3: "Beau Brown",
            email: "New Mexico Area",
            address: "Cliff Loveless",
            city: "Southeast Area ",
            state: "Michael Northen",
            zip: "",
            storeManager: "",
            areaManager: "",
          },
        ]}
      />
    </section>
    <!-- Visual divider between sections -->
    <div class="divide divide-none divide-y-2 py-0"></div>
    <!-- Section for displaying Metal Mart data -->
    <section
      class="flex-grow bg-neutral pb-0 pt-0 no-scrollbar overflow-y-scroll overscroll-contain scroll-auto scroll-mx-px "
    >
      <section class="shadow-sm drop-shadow-sm">
        <NavBar />
      </section>
      <!-- Render the MMExPanel component with Metal Mart data -->
      <div
        class="box-decoration-clone ps-2 py-1 pe-2 border-4 border-transparent overflow-y-auto no-scrollbar"
      >
        <MMBuild metalmarts={Data.loctype["metal mart"].locations} />
      </div>
    </section>
    <div class="divide divide-none divide-y-2 py-0"></div>
    <!-- Section for the page footer -->
    <section class="box-border pb-3 mt-0">
      <!-- {/* Render the footer with navigation links */} -->
      <Footer
        bottomNav={[
          { icon: "home", label: "Home", to: "/" },
          { icon: "corporate", label: "Corporate", to: "/corporate" },
          // { icon: "store_1", label: "Metal Mart", to: "/metalmart" },
          {
            icon: "service_center",
            label: "Service Center",
            to: "/servicecenter",
          },
          { icon: "plant", label: "Plant", to: "/plant" },
        ]}
      />
    </section>
  </div>
</Main>

<style></style>
