---
import { Icon } from 'astro-icon/components';


---
<div class=" rounded-lg ps-1 align-top object-top  ">

    <button onclick="window.history.back()" class="btn btn-outline border-[2.5px] border-white border-opacity-50 hover:border-opacity-70 gap-0 hover:bg-secondary hover:text-white  text-white rounded-lg uppercase ">
        <Icon name="chevron-left" class=" w-3 h-auto mx-2 place-items-center " />
        
    </button>
</div>

<style>

</style>