---
import { Icon } from 'astro-icon/components';


---
<div class=" px-0 mx-2 bg-primary rounded-lg ">

    <button onclick="window.history.back()" class="btn text-white rounded-lg  " >
        <Icon name="chevron-left" class="fill-white w-auto h-6 flex-1 text-white " />
        BACK
    </button>
</div>

<style>

</style>