---
import { Icon } from 'astro-icon/components';


---
<div class=" rounded-lg ps-2 align-top object-top ">

    <button onclick="window.history.back()" class="btn btn-outline border-inherit hover:bg-primary hover:text-white  text-white rounded-lg uppercase " >
        <Icon name="chevron-left" class="fill-white h-6 " />
        Back
    </button>
</div>

<style>

</style>