---
import type { GetStaticPaths } from "astro";
import User from "./UserBuild.astro";



// Define the type for the component's props
export type Props = {
  DeptEmps: {
    id: number;
    deptName: string;
    location: number;
    employees: {
      id: number;
      firstName: string;
      lastName: string;
      jobTitle: string;
      isManager: number;
      phoneNumber: string;
      cellNumber?: string;
      extension?: string;
      email: string;
      location: number;
      department: number;
    }[];
  };
};


// Extract the DeptEmps data from props
const { DeptEmps } = Astro.props;

---



<!-- Render a list of departments -->
<!-- Render the details for a single department and list its employees -->
<div class="department-details">
  <h2 class="text-xl font-bold mb-4">{DeptEmps.deptName}</h2>
  <ul class="employee-list space-y-2">
    {DeptEmps.employees.map((employee) => (
      <h3><User employees={DeptEmps.employees}  /></h3>
    ))}
  </ul>
</div>
