---
// Define properties for each head card
type Props = {
  headCard: {
    title: string;
    subtitle1: string;
    address: string;
    city: string;
    state: string;
    zip: string;
    subtitle2: string;
    phone: string;
    email: string;
    subtitle3: string;
    phone2: string;
    // phone3: string;
  }[];
};

// Extract the headCard data from props
const { headCard } = Astro.props;

---

<!-- // Render the head cards -->
<!-- Render head cards based on provided data -->
<div class=" bg-gradient-to-tl from-cyan-600 to-sky-800  border-slate-100 border-opacity-20 box-decoration-clone w-dvw h-48">
  {headCard.map((card) => (
    <!-- Iterate over each card in headCard array and create a div for each card -->
    <div class=" grid grid-cols-1 border-x-[3px] border-y-[3px] border-transparent rounded-md  mb-2 ">
      <h2 class=" text-center pt-10 font-normal uppercase text-3xl line-clamp-2 divide-y-[1px] px-2 tracking-wide">
        {card.title} <!-- Display the card title -->
      </h2>
    </div>
  ))}
</div>


