---
import BottomNav from "./BottomNav.astro"; // Importing BottomNav component

// Define the type for the component's props
type Props = {
  bottomNav: {
    icon: string; // Icon name for the nav item
    label: string; // Label text for the nav item
    to: string; // URL or path the nav item will link to
  }[];
};

// Extract the bottomNav data from Astro's props
const { bottomNav } = Astro.props;
---

<!-- Main container for the component -->
<div class="box-border bg-red-400 relative w-full mb-2 pb-2 h-16">
  <!-- Render the BottomNav component, passing bottomNav as prop -->
  <BottomNav bottomNav={bottomNav} />
  <!-- Footer section -->
  <footer class="footer footer-center w-full h-fit pb-1">
    <!-- Copyright notice -->
    <!-- <p class="text-xs mb-2 pb-2">Copyright © 2024 - All right reserved by McElroy Metal Inc.</p> -->
  </footer>
</div>
