---
// Properties of each Metal mart store
export type Props = {
  metalmarts: {
    id: number;
    locName: string;
    locNum: number;
    address: string;
    city: string;
    state: string;
    zipcode?: number;
    phoneNumber: string;
    faxNumber: string;
    email: string;
    hours: string;
    storeManager: string;
    areaManager: string;
  }[];
};

const { metalmarts } = Astro.props;
---

<!-- Render a list of Metal Mart stores -->
<ul class="mt-4 ms-0.5 ">
  {metalmarts.map((metalmart) => (
    <!-- List item for each Metal Mart store -->
    <li class="relative bg-secondary rounded-md shadow-md my-2 py-0 mx-0 transition ease-in duration-150 transform hover:-translate-y-1 hover:scale-100 ">
      <!-- Direct link to the Metal Mart store page -->
      <a href={`/metalmart/${metalmart.id}`} class="block px-4 py-4 text-white rounded-lg hover:bg-[#0d9488] hover:rounded-md  hover:text-white transition-colors">
        <div class="flex items-center justify-between">
          <div class="text-xl uppercase font-medium hover:border-transparent tracking-wide text-white">
            {metalmart.locName}
          </div>
          <!-- Optionally display more information or an icon -->
          <span class="text-sm font-semibold text-gray-500">
          </span>
        </div>
      </a>
    </li>
  ))}
</ul>

<style>
  li:nth-child(odd) {
    background-color: #1c658c;
  }
  li:nth-child(even) {
    background-color: #398AB9;
  }
</style>