---
import Search from "astro-pagefind/components/Search";
import BackButton from "../components/BackButton.astro";
---

<div
  class="dept-nav z-auto bg-primary h-auto focus-within:h-auto flex py-2 ps-3 pe-0 items-center border border-x-0 border-y-2 gap-4 border-slate-100 border-opacity-20 box-decoration-clone"
>
  <BackButton />
  <Search
    id="search2"
    className="pagefind-ui "
    uiOptions={{ showImages: false }}
  />
</div>
<style is:global>
  .pagefind-ui {
    /* --pagefind-ui-scale: 0.75; */
    /* --pagefind-ui-primary: #222222;
    --pagefind-ui-text: #222222;
    --pagefind-ui-background: #cecece;
    --pagefind-ui-border: #075985;
    --pagefind-ui-tag: #c5ad53;
    --pagefind-ui-border-width: 2px; */
    /* --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem; */
    width: 70%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    margin-left: 3%;
    margin-right: 3%;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 1000;
    padding: 0 1em 1em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }
</style>
