---
import BackButton from '../components/BackButton.astro';
import SearchBar from '../components/SearchBar.astro';

---
<div class="navbar flex-1 border border-x-0 border-y-1 border-info  gap-2 bg-neutral ">

    <BackButton />
    <SearchBar />


</div>

<style>

</style>