---
import Search from "astro-pagefind/components/Search";
---

<!-- Container for the search bar -->
<div
  class="h-auto bg-primary focus-within:h-auto p-2 z-auto border-x-0 border-y-2 border-slate-100 border-opacity-20 no-scrollbar flex-auto scroll-auto overscroll-contain box-decoration-clone"
>
  <div
    class="search-container box-content w-auto ms-2 text-grey-600 rounded-lg"
  >
    <!-- Input field for search -->
    <Search
      id="search"
      className="pagefind-ui "
      uiOptions={{ showImages: false }}
    />
  </div>
</div>
<style is:global>
  .search-container {
    /* padding: 0.5rem; */
    background-color: var(--color-bg-primary);
  }
  .pagefind-ui {
    /* --pagefind-ui-scale: 0.75; */
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    /* --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem; */
    /* --pagefind-ui-background: #ebf1f4; */
    --pagefind-ui-z-index: 5000;
    /* --pagefind-ui-font: sans-serif; */
    width: 100%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    margin-left: 3%;
    margin-right: 3%;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 5000;
    padding: 0 1em 1em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }
</style>
