---
import Search from "astro-pagefind/components/Search";

---

<!-- Container for the search bar -->
<div
  class=" px-0 py-0 px-1 border-x-0 border-y-2 border-slate-100 border-opacity-20 no-scrollbar flex-auto scroll-auto overscroll-contain  box-decoration-clone"
>
    <div class="search-container box-content w-auto ms-2 text-grey-600 rounded-lg  " >
      <!-- Input field for search -->
      <!-- <input
      id="search"
        class=" pagefind-ui border-2 border-inherit w-full border-gray-300 bg-white h-12 px-3 pr-1 rounded-lg text-sm focus:outline-none"
        uiOptions={{ showImages: false }}
        type="search"
        name="search"
        placeholder="Search"
      /> -->
      <Search id="search" className="pagefind-ui " uiOptions={{ showImages: false }} />
      <!-- Submit button for the search bar -->
      <!-- <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
        <svg
          class="text-gray-600 -mt-1 h-4 w-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
          id="Capa_1"
          x="0px"
          y="0px"
          viewBox="0 0 56.966 56.966"
          style="enable-background:new 0 0 56.966 56.966;"
          xml:space="preserve"
          width="512px"
          height="512px"
        >
          <path
            d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
          ></path>
        </svg>
      </button> -->
    </div>
    

</div>

<style is:global>

  .search-container{
    padding: 0.5rem;
    background-color: var(--color-bg-primary);
    
  }

  .pagefind-ui {
    /* --pagefind-ui-scale: 0.75; */
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    /* --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem; */
    --pagefind-ui-background: white;

    /* --pagefind-ui-font: sans-serif; */

    width:100%;
  }

  /* .pagefind-ui.yellow {
    --pagefind-ui-background: lightyellow;
  }

  .pagefind-ui.red {
    --pagefind-ui-background: peachpuff;
    width: 100%;
  } */

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {

    margin-left: 3%;
    margin-right: 3%;
    /* top: 100%; */
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 1000;
    padding: 0 1em 1em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  /* .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  } */


</style>


